AWS_IOT_ENDPOINT=your-endpoint-ats.iot.ap-northeast-2.amazonaws.com
CLIENT_ID=rpi-dht22-seoul-001
TOPIC=sensors/dht22/data
CERT_PATH=certs/your-certificate.pem.crt
KEY_PATH=certs/your-private.pem.key
CA_PATH=certs/AmazonRootCA1.pem
GPIO_PIN=4
PUBLISH_INTERVAL=60
